@import "tailwindcss";

/* Hide scrollbar globally */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* background-color: #08add6; */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}